# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/

# VSCode
.vscode/

# Local env
.env

# Data (si no quieres subir datasets pesados)
data/*.csv
data/*.parquet

# OS
.DS_Store
Thumbs.db
